Celery==5.4.0
Django==4.2.14
django-celery-beat==2.6.0
django-celery-results==2.5.1
python-decouple==3.8
importlib_metadata==8.0.0
importlib_resources==6.4.0
docker==7.1.0
docker-compose==1.29.2
lxml==5.2.2
requests==2.32.3
flower==2.0.1
django-environ==0.11.2
psycopg2-binary==2.9.9
django-celery-email==3.0.0
argh==0.31.3
watchdog==4.0.1
beautifulsoup4==4.12.3
redis==5.0.7
jupyter==1.0.0
selenium==4.22.0
channels==3.0.5