<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
</head>
<body>
    <div class="container">
        <h1>Welcome to the Home Page</h1>
        <p>This is the homepage of your website.</p>
        <a href="{% url 'signup-view' %}">Sign Up</a>
        <a href="{% url 'signin-view' %}">Sign In</a>
    </div>
</body>
</html>
